{
	"locale": "NL - Nederlands",
	"Log out successfully.": "Log uit succesvol.",
	"You need to login to view this page.": "U moet inloggen om deze pagina te zien.",
	"Error": "Fout",
	"Missing credentials": "Ontbrekende inloggegevens",
	"Login successfully.": "Log in succesvol.",
	"Incorrect password.": "Onjuist wachtwoord.",	
	"loading.loading": "Laden...",	
	"authen.log_in": "Log in",
	"authen.log_out": "Log uit",
	"authen.recover": "Vraag op",
	"authen.recover_email": "Uw Email Adres",	
	"authen.username": "Gebruikersnaam",
	"authen.password": "Wachtwoord",
	"authen.forgot?": "Vergeten?",
	"authen.log_in?": "Log in?",	
	"authen.remember_me": "Onthoud mij",
	"authen.log_in_error": "Fout tijdens het inloggen",
	"authen.log_in_success": "Met succes ingelogd",
	"authen.log_out_success": "U hebt uitgelogd",
	"authen.unknown_user_or_password": "Gebruikersnaam en/of wachtwoord is onjuist",
	"authen.log_in_to_continue": "Log in om door te gaan, alstublieft."
}