<!DOCTYPE html>
<html>
	<head>
		<!-- Title here -->
		<title>Hello to Kick</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="http://localhost:2000/themes/mydefaulttheme/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="http://localhost:2000/themes/mydefaulttheme/css/font-awesome.min.css" rel="stylesheet">
		<!-- Widgets -->
		<link href="http://localhost:2000/themes/mydefaulttheme/css/widgets.css" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="http://localhost:2000/themes/mydefaulttheme/css/admin-style.css" rel="stylesheet">
		<!-- Inline CSS -->
		<style type="text/css">
			#iframecontainer {
				width: 90%; 
				height: 90%; 
				display: none; 
				position: fixed; 
				margin-top: 4%; 
				margin-left: 5%; 
				-moz-border-radius: 10px; 
				-webkit-border-radius: 10px; 
				border-radius: 10px;				
				box-shadow: 2px 2px 40px #222; 
				z-index: 999999;
			}
			#iframecontainer iframe {
				display: none; width: 100%; height: 100%; position: absolute; border: none;
			}
			#loader {
				background: url('http://localhost:2000/themes/mydefaulttheme/img/ajax-loader.gif'); background-repeat: no-repeat; width: 250px; height: 250px; margin: auto;
			}
			#block {
				background: #000; opacity:0.6; position: fixed; width: 100%; height: 100%; top: 0; left: 0; display: none;
			}
		</style>
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<div id="block"></div>
		<div id="iframecontainer" class="widget">
			<div id="loader"></div>
			<div class="widget-head">
				<div class="pull-left">Title</div>
				<div class="widget-icons pull-right">
					<a href="#" onclick='closeOverlay();' class="wclose">
						<i class="fa fa-times">
							::before
						</i>
					</a>
				</div>
				<div class="clearfix">
					::before
					::after
				</div>
			</div>
			<div class="widget-content">
				<div class="padd">
					<iframe></iframe>
				</div>
				<div class="widget-foot">
					<!-- Footer goes here -->
				</div>	
			</div>
		</div>
		<div class="container">
			<div class="main">
				<div class="row">
					<div class="col-md-2">
					
						<div class="sidebar">
							<!-- Project name -->
							<h3>Categories</h3>
							<ul>
								<li><a href="#home">Home</a></li>
								<li><a href="/pages/mydefaultpage/mask.html">Mask</a></li>
								<li><a href="/pages/mydefaultpage/skin.html">Skin</a></li>
								<li><a href="/pages/mydefaultpage/core.html">Core</a></li>
								<li><a href="/pages/mydefaultpage/flow.html">Flow</a></li>
								<li><a href="/pages/mydefaultpage/chat.html">Chat</a></li>
								<li><a href="/pages/mydefaultpage/bits.html">Bits</a></li>
								<li><a href="/pages/mydefaultpage/reap.html">Reap</a></li>
							</ul>
						</div>
						
					</div>
					<div class="col-md-10">
					
						<div class="mainbar">
						
							<!-- Home -->
							<h3 id="home">Hello to Kick</h3>

							<p>This is the entry page of Kick console documentation. Choose from the categories on the left for details.</p>

							<h2>Commands</h2>
							<ul>
								<li>Mask:&nbsp;|&nbsp;<a href="javascript:void(0)" target="_blank" onclick="return openOverlay('http://localhost:2002/dirlist.php?x=test', 'Mask: List Directory')">List Directory</a>&nbsp;|&nbsp;<a href="javascript:void(0)" target="_blank" onclick="return openOverlay('http://localhost:2002/nodeVersion.php?x=test', 'Mask: Node Version')">Node Version</a>&nbsp;|</li>
								<li>Skin:&nbsp;|&nbsp;<a href="javascript:void(0)" target="_blank" onclick="return openOverlay('http://localhost:3002/dirlist.php?x=test', 'Skin: List Directory')">List Directory</a>&nbsp;|&nbsp;<a href="javascript:void(0)" target="_blank" onclick="return openOverlay('http://localhost:3002/nodeVersion.php?x=test', 'Skin: Node Version')">Node Version</a>&nbsp;|</li>
								<li>Core:&nbsp;|&nbsp;<a href="javascript:void(0)" target="_blank" onclick="return openOverlay('http://localhost:4002/dirlist.php?x=test', 'Core server');">List Directory</a>&nbsp;|&nbsp;<a href="javascript:void(0)" target="_blank" onclick="return openOverlay('http://localhost:4002/nodeVersion.php?x=test', 'Core: Node Version');">Node Version</a>&nbsp;|</li>
							</ul>

						</div>
						
					</div>
				</div>
			</div>
			<br />
			<div class="footer text-center">
				Copyright 2013 - <a href="http://responsivewebinc.com">Responsive Web Inc</a>
			</div>
		</div>
		<!-- Javascript files -->
		<!-- JQuery -->
		<script src="http://localhost:2000/themes/mydefaulttheme/js/jquery.js"></script>
		<!-- Inline Javascript -->
		<script type="text/javascript">//<![CDATA[
			function openOverlay(url, title) {
				console.log('openOverlay called');
				$('#block').fadeIn();
				$('#iframecontainer').fadeIn();
				$('#iframecontainer iframe').attr('src', url);
				$('#iframetitle').innerHTML = title;
				$('#iframecontainer iframe').load(function() {
					$('#loader').fadeOut(function() {
						$('iframe').fadeIn();
					});
				});
			};
			function closeOverlay() {
				console.log('closeOverlay called');				
				$('#iframecontainer').fadeOut();
				$('#block').fadeOut();
			};
		</script>
	</body>	
</html>